
@{
    ViewData["Title"] = "MegyeLayout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Megyék</h1>
<nav>
    <ul>

    </ul>
</nav>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

